[Desktop Entry]
Comment=Ghostnode (NIX masternode) activation tool
Exec=Ghostnode Tool
GenericName=Masternode activation tool
Icon=ghostnode-tool
Name=Ghostnode Tool
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
